body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ffd6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.caixa {
    background: white;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(220, 50, 100, 0.3);
}

h1 {
    color: #d63384;
}

#texto {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

button {
    font-size: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.2);
}

